h1{
    color: blue;
    font-size: 30px;
}

h2{
    text-align: center;
    font-size: 15px;
}

h2.rojo{
    color: red;
    font-size: 50px;
}

#verde{
    text-align: right;
    color: greenyellow;
}

/*comentarios - aqui se inicia proceso de programacion*/
.menu{
    background-color: aqua;
}

.menu li{
    font-family: serif;
    margin: 10px;
    color: green;
    display: inline;
}

nav{
    text-align: center;
    margin: 50px;
}
input{
    border: 1px solid black;
    margin-right: 20px;
    height: 30px;
}
table{
    border: 1px solid black;
    width: 500px;
    margin: auto;
}
th,td{
    border: 1px solid black;
    text-align: center;
}